html,body{
  
 height :100%;


  margin:0;

}

.grid * {
  padding: 10px, 15px;
  background-color: rgb(96, 143, 204);
  border: 1px solid rgb(24, 84, 133);
  text-align: center;
  font-size: sans-serif;
  color: #fff;
}

.grid {

  height:100%;
  display: grid;
  /*grid-template-columns:150px 150px 150px 150px;
  grid-auto-rows:minmax(100px,auto);*/
  grid-gap: 20px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
   "header header"
   "aside main"
   "aside footer";
  
}

header {
  grid-area: header;

}

aside {

 grid-area:aside;

}

main {
  grid-area:main;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  
}

footer {
 grid-area:footer;

}


/*.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}*/
